<h1>Order Tickets</h1>


<div class="container">
<span id="countdown" class="timer"></span>
<h2>Current Orders</h2>

<ul class="list-group">
<% @order_tickets.each do |order_ticket| %>

  <li class="list-group-item"> <%= order_ticket.menu_item.name %> | <%= order_ticket.menu_item.description %> | </li>
  <br>
  <input type="hidden" name="order_ticket[fired]" value="1">
        <%= f.submit class: 'btn btn-success' %>

<%= button_to "Order Complete", order_tickets_path, :class => "btn btn-success btn-xs", :method => :get %>

<% end %>
</ul>
</div>


<!-- <ul>
  <% @order_tickets.each do |order_order_ticket| %>
    <li>
    <strong>Order #:</strong><%= order_ticket.number %> |
    <strong>Cuisine: </strong><%= order_ticket.menu_item.name %> |
    <strong>Menu Item: </strong><%= order_ticket.menu_item.description %> |
 <br>
    <% if order_ticket.created_at.to_time > 10.minutes.ago  %>
      <div class="four column green"><%= order_ticket.created_at.to_time.strftime('%l:%M %p %Z')%></div>
      <% elsif order_ticket.created_at.to_time < 10.minutes.ago && order_ticket.created_at.to_time > 20.minutes.ago %>
      <div class="four column yellow"><%= order_ticket.created_at.to_time.strftime('%l:%M %p %Z')%></div>
      <% elsif order_ticket.created_at.to_time < 20.minutes.ago %>
      <div class="four column red"><%= order_ticket.created_at.to_time.strftime('%l:%M %p %Z')%></div>
      <% end %>
    <%= button_to "Edit Order", order_tickets_path(order_ticket.id), method: :get, class: 'waves-effect waves-light btn' %>
    <%= button_to "Complete", order_tickets_path(order_ticket), method: :delete, class: 'waves-effect waves-light btn' %>

  </li> <br>



  <% end %>
</ul> -->
