<h1>Please Log In</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="input-group">

<%= form_tag sessions_path do %>
<%= label_tag :username, 'User Name: ' %>
  <%= text_field_tag :username %>
  <%= label_tag :password, 'Password: ' %>
  <%= password_field_tag :password %>
  <%= submit_tag "LogIn", class: "btn btn-primary" %>
<% end %>
</div>
</div>
</div>
